.ListaProductos {
    margin: 10px;
    margin-bottom: 2em;
    height: 30px;
}
.wrapper {
    display: grid;
    margin-left: 35px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .formulario{
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
  }

  .botonmargin{
    padding-top: 3px;
  }

  .link{
   
   
    margin-left: 40%;
    font-size: 20px;
    text-decoration-line: none;
    margin-top: 4px;
    padding-bottom: 3px;
    
  }
  .ListaProductos {
    text-align: center;
       
    }