.Home {
    
    background-image: url(../../img/minisup.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-left: 1%;
    margin-right: 1%;
}
.formulario{
    background: rgba(0, 0, 0, .2);
    padding: 25px;
    gap: 4;
    margin-block-end: 6%;
    border-radius: 10px;
   
    color: white;

}
.formcontrol{
    display: flex;
    width: 70vh;
    background: rgba(0, 0, 0, .4);
    text-align: center;
    color: white;
    margin-bottom: 2%;
    margin-left: 5%;
}

.ingresar{
    background: #222a3f;
    font-size: 20px;
    font-weight: 700!important;
   
}